.main-page {
    background-size: cover;
    background-color: #cdf8a9;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Limelight", sans-serif;
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    background: linear-gradient(
    to right,
    #4e76fa05,
    #73a3f0,
    #99bee3,
    #8798b2
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9cc3fd;
    width: 600px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 12px;
    gap: 10px;
    transition: all 0.8s ease;
    margin-bottom: 110px;
}

.button-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px #3a3636;
}

.btn{
    border: none;
    border-radius: 8px;
    font-family: "Dongle", sans-serif;
    font-size: 26px;
    font-weight: 500;
    background-color: rgb(140, 140, 252);
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 60px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px #3a3636;
    background-color: #d8e6fc;
}

h2 {
    font-family: "Special Elite", system-ui;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    color: white;
    transition: transform 0.6s ease;
}

h2:hover {
    transform: translateY(-15px);
}

.deepstudy-body {
    background-image: url(background2.gif);
    background-size: cover;
}

.disney-body {
    background-image: url(background3.gif);
    background-size: cover;
}

.past-body {
    background-image: url(background4.gif);
    background-size: cover;
}

.party-body {
    background-image: url(background5.gif);
    background-size: cover;
}

.sunday-body {
    background-image: url(background6.gif);
    background-size: cover;
}
.playlist {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.playlist:hover {
    transform: translateY(-10px);
}