.main-page {
    background-size: cover;
    background-image: url(background-mainpage.jpg);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Limelight", sans-serif;
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    background: linear-gradient(
    to left,
    #4e76fa05,
    #4273c0,
    #83aed8,
    #8798b2
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9cc3fd;
    width: 600px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 12px;
    gap: 10px;
    transition: all 0.8s ease;
    margin-bottom: 110px;
}

.button-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px #3a3636;
}

.btn{
    border: none;
    border-radius: 8px;
    font-family: "Dongle", sans-serif;
    font-size: 26px;
    font-weight: 500;
    background-color: rgb(140, 140, 252);
    border-radius: 100px;
    cursor: pointer;
    padding: 10px 90px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.5s ease;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px #3a3636;
    background-color: #d8e6fc;
}

.maintext {
    font-family: "Special Elite", system-ui;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 70px;
    transition: transform 0.6s ease;
}

.maintext:hover {
    transform: translateY(-15px);
}

.deepstudy-body {
    background-image: url(background2.gif);
    background-size: cover;
}

.disney-body {
    background-image: url(background3.gif);
    background-size: cover;
}

.past-body {
    background-image: url(background4.gif);
    background-size: cover;
}

.party-body {
    background-image: url(background5.gif);
    background-size: cover;
}

.sunday-body {
    background-image: url(background6.gif);
    background-size: cover;
}
.playlist {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.playlist:hover {
    transform: translateY(-10px);
}

.icon1 {
    position: absolute;
    animation: bounce1 2s infinite alternate;
}

.icon2 {
    position: absolute;
    animation: bounce2 1s infinite alternate;
}

.a {
  width: 52px;
  margin-top: 20px;
  margin-left: 15px;
}

.b {
    width: 45px;
    margin-top: 220px;
    margin-left: 120px;
}

.c {
    width: 37px;
    margin-top: 400px;
    margin-left: 40px;
}

.d {
    width: 55px;
    margin-top: 600px;
    margin-left: 170px;
}

.e {
    width: 32px;
    margin-top: 800px;
    margin-left: 20px;
}

.f {
    width: 40px;
    margin-top: 900px;
    margin-left: 100px;
}

.g {
    width: 45px;
    margin-top: 20px;
    margin-left: 1400px;
}

.h {
    width: 35px;
    margin-top: 240px;
    margin-left: 1290px;
}

.i {
    width: 55px;
    margin-top: 400px;
    margin-left: 1390px;
}

.j {
    width: 45px;
    margin-top: 600px;
    margin-left: 1270px;
}

.k {
    width: 40px;
    margin-top: 800px;
    margin-left: 1350px;
}

.l {
    width: 55px;
    margin-top: 900px;
    margin-left: 1250px;
}

@keyframes bounce1 {
    from {transform: translateY(0); }
    to {transform: translateY(-20px);  }
}

@keyframes bounce2 {
    from {transform: translateY(0); }
    to {transform: translateY(-25px);  }
}

.facts-box {
    display: block;
    justify-content: center;
    padding: 25px;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    max-width: 700px;
    margin: 30px auto;
    border-color: 2px  #3a3636;
}

.deepstudy {
    background-color: rgb(103, 163, 209);
}

.funfact-btn {
    font-family: "Dongle", sans-serif;
    width: 400px;
    font-size: 2px;
    color: #000000;
    border-radius: 90px;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none; 
    margin-top: 5px;
    margin-bottom: 9px;
    }

.a1 {
    background-color: rgb(35, 72, 109);
    transition: transform 0.2s ease, background-color 0.3s ease;
    }

.a:hover {
    transform: scale(1.1);
    background-color: #8791e2;
}

.facts1 {
    font-family: "Sniglet", system-ui;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}