.main-page {
    background-size: cover;
    background-image: url(background-mainpage.jpg);
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    font-family:"Rock-icons";
    font-size: 200px;
    color: rgb(20, 1, 1);
    margin-top: 20px;
    margin-bottom: -10px;
}

@font-face {
    font-family:"Rock-icons";
    src: url("fonts/ROCKS___.TTF") format("truetype");
}

h1 {
    font-family: "Playful", sans-serif;
    font-size: 200px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: -10px;
    background: linear-gradient(
    to right,
    #4e76fa05,
    #4273c0,
    #83aed8,
    #8798b2
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@font-face {
    font-family: "Playful";
    src: url("fonts/Chunky\ Playful.otf") format("truetype");
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: #9cc3fd;
  margin: 0 auto;
  padding: 10px;
  border-radius: 12px;
}

.btn {
  font-family: "rock-icons";
  font-size: 220px;
  color: #000000;
  margin-bottom: 50px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
    transform:translateY(-10px);
    color: #3b4f6b;
    box-shadow: 0 4px 6px #3a3636;;
}


.playlist-items1 {
  display: flex;
  align-items: center; 
  gap: 50px;
}

.playlist-items2 {
  display: flex;
  align-items: center; 
  gap: 60px;
  margin-left: 380px;
}


.maintext {
  font-family: "Special Elite", system-ui;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.deepstudy-body {
    background-image: url(background2.gif);
    background-size: cover;
}

.disney-body {
    background-image: url(background3.gif);
    background-size: cover;
}

.past-body {
    background-image: url(background4.gif);
    background-size: cover;
}

.party-body {
    background-image: url(background5.gif);
    background-size: cover;
}

.sunday-body {
    background-image: url(background6.gif);
    background-size: cover;
}
.playlist {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}

.playlist:hover {
    transform: translateY(-10px);
}

.icon1 {
    position: absolute;
    animation: bounce1 2s infinite alternate;
}

.icon2 {
    position: absolute;
    animation: bounce2 1s infinite alternate;
}

.a {
  width: 52px;
  margin-top: 20px;
  margin-left: 15px;
}

.b {
    width: 45px;
    margin-top: 220px;
    margin-left: 120px;
}

.c {
    width: 37px;
    margin-top: 400px;
    margin-left: 40px;
}

.d {
    width: 55px;
    margin-top: 600px;
    margin-left: 170px;
}

.e {
    width: 32px;
    margin-top: 800px;
    margin-left: 20px;
}

.f {
    width: 40px;
    margin-top: 900px;
    margin-left: 100px;
}

.g {
    width: 45px;
    margin-top: 20px;
    margin-left: 1400px;
}

.h {
    width: 35px;
    margin-top: 240px;
    margin-left: 1290px;
}

.i {
    width: 55px;
    margin-top: 400px;
    margin-left: 1390px;
}

.j {
    width: 45px;
    margin-top: 600px;
    margin-left: 1270px;
}

.k {
    width: 40px;
    margin-top: 800px;
    margin-left: 1350px;
}

.l {
    width: 55px;
    margin-top: 900px;
    margin-left: 1250px;
}

@keyframes bounce1 {
    from {transform: translateY(0); }
    to {transform: translateY(-20px);  }
}

@keyframes bounce2 {
    from {transform: translateY(0); }
    to {transform: translateY(-25px);  }
}

.facts-box {
    display: block;
    justify-content: center;
    padding: 25px;
    border-radius: 8px;
    font-size: 1.1em;
    text-align: center;
    max-width: 700px;
    margin: 30px auto;
    border-color: 2px  #3a3636;
    animation:  bounce3 3s infinite alternate;
}

@keyframes bounce3{
    from {transform: translateY(0);}
    to {transform: translateY(-20px);}
}

.deepstudy {
    background-color: rgba(103, 163, 209, 0.822);
}

.funfact-btn {
    font-family: "Dongle", sans-serif;
    width: 350px;
    font-size: 30px;
    color: #000000;
    border-radius: 90px;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none; 
    margin-top: 5px;
    margin-bottom: 9px;
    }

.a1 {
    background-color: rgb(35, 72, 109);
    transition: all 0.3s ease;
    }

.a1:hover {
    transform: scale(1.1);
    background-color: #8791e2;
    box-shadow: 0 4px 6px #3a3636;
}

.facts {
    font-family: "SN Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.maintext1 {
    font-family: "Sniglet", system-ui;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.disney {
    background-color: rgba(245, 193, 114, 0.837);
}

.a2 {
    background-color: rgb(243, 163, 44);
    transition: all 0.3s ease;
}

.a2:hover {
    transform: scale(1.1);
    background-color: rgb(247, 214, 166);
    box-shadow: 0 4px 6px #3a3636
}

.latina {
    background-color: rgba(243, 239, 134, 0.788);
}

.a3 {
    background-color: rgb(203, 198, 51);
    transition: all 0.3s ease;
}

.a3:hover {
    transform: scale(1.1);
    background-color: rgb(245, 243, 180);
    box-shadow: 0 4px 6px #3a3636
}

.past {
    background-color: rgba(205, 191, 120, 0.822);
}

.a4 {
    background-color: rgb(168, 154, 86);
    transition: all 0.3s ease;
}

.a4:hover {
    transform: scale(1.1);
    background-color: rgb(245, 238, 204);
    box-shadow: 0 4px 6px #3a3636
}

.sunday {
    background-color: #5b7a99dc;
}

.a5 {
    background-color: #3b4f6b;
}

.a5:hover {
    transform: scale(1.1);
    background-color: #aec7f0;
    box-shadow: 0 4px 6px #3a3636
}

.last {
    font-family: "Unkempt", cursive;
    font-weight: 700;
    font-size: 45px;
    color: black;
    background-color: white;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px 15px;
    animation: move1 3s infinite alternate;
}

@keyframes move1 {
    from {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

.last2 {
    font-family: "Titan One", sans-serif;
    font-size: 80px;
    letter-spacing: 10px;
    color: white;
    margin-top: 1px;
    font-weight: 500;
    text-align: center;
    animation: move2 3.5s infinite alternate;
}

@keyframes move2 {
    from {transform: translateY(0);}
    to {transform: translateY(-20px);}
}

.credits {
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 20px;
    font-family: "Dongle", sans-serif;
    background-color: #88b2f6e1;
    color: #000000;
    padding: 10px 15px;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.credits:hover {
    transform: translateY(-10px);
    box-shadow:0 4px 8px #3a3636;
}